/* General */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;


}

main {
    flex-wrap: wrap;
}

footer {
    position: absolute bottom;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    box-shadow: 0px 4px 8px #888888;
    border-radius: 10px;
    margin: 20px 40px;
    padding: 50px 20px;
}

/* Nav intern */

.tab div {
    display: none;
}

.tab div:target {
  display: block;
}

.nav-item {
	display: inline-flex;
	justify-content: space-between;
}

.nav-link {
	text-decoration: none;
}
.nav-link:active {
	text-decoration: underline;
}

a {
    text-decoration: none;
}
footer a {
}

a:visited {
    color: currentColor;
}
/* Header */

nav {
    background-color: white;
    box-shadow: 0px 4px 8px #888888
}

.navone {
    font-size: 20px;
    text-transform: lowercase;
    font-family: "Krona One"

}

#kingdom {
    font-family: 'Allerta Stencil';
    font-size: 25px;
    margin-left: 30px;

}

.navtwo li {

    margin-right: 50px;
}

/* Footer */ 

footer a {
    padding: 0px 40px;
    font-size: 20px;
}

footer a:hover {

}

#sign {
    font-family: "Permanent Marker";
}





/* Hover */

a:hover {
    text-decoration: line-through black;
    color: gold;
    transform: scale(1.1);
}



/* ------------------------------- Library --------------------------------- */

/* Boxes */

.circle {
    background-size: cover;
    width: 90px;
    height: auto;

    border-radius: 50%;
}

.circle2 {
    background-size: cover;
    width: 220px;
    height: auto;

    border-radius: 50%;
}

.ring {
    border: #000 solid 0.1px;
}

/* Button */

.btn {
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 6px 24px;
}

.btn:hover {
    border: #000 solid 0.5px;
    color: red;
    background-color: white;
}

.btn:active{
    position: relative;
	top: 1px;
}

/* Colors */

.gradmega {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradlane {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.bblack {
    background-color: #000;
}

.bwhite {
    background-color: white;
}


/* Decoration */

.none {
    list-style-type: none;
}

.lineyellow {

    border-bottom: #fdb901 solid 7px;
    border-radius: 5px;
    position: absolute

}

/* Orientation */

.line {
    display: inline;
}

.lineb {
    display: inline-block;
}

.flex {
    display: flex
}

.row {
    flex-direction: row;
}

.colm {
    flex-direction: column;
}
.btw {
    justify-content: space-between
}
.centerh {
    justify-content: center;
}

.centerv {
    align-items: center;
}

.centerv {
    justify-content: 
}


/* ------- Padding & margin --------- */

/*  Padding bottom*/
.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.ps5 {
    padding: 0px 5px;
}

.ps10 {
    padding: 0p 10px;
}

.ps15 {
    padding: 0p 15px;
}

.ps20 {
    padding: 0px 20px;
}

.pv5 {
    padding: 5px 0px;
}

.pv10 {
    padding: 10p 0px;
}

.pv15 {
    padding: 15p 0px;
}

.pv20 {
    padding: 20px 0px;
}

/* Margin*/

.m5 {
    margin-bottom: 5px;
}

.m10 {
    margin-bottom: 10px;
}

.m15 {
    margin-bottom: 15px;
}

.m20 {
    margin-bottom: 20px;
}